body {
    background-color: rgb(182, 134, 194);
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin-top: 100px;
}
#app {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#map {
    border: 3px solid black;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(9, auto);
}
.map-el {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.bubble {
    border: 3px solid black;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.preview-bubble {
    background-color: rgb(88, 88, 88);
    border: 3px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#preview-container {
    border: 3px solid black;
    box-shadow: 0 0 5px rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#preview-container > p {
    margin: 5px;
}
#score {
    margin-top: 10px;
    padding: 5px;
    border: 3px solid black;
    box-shadow: 0 0 5px rgba(255, 255, 255);
    font-size: 2rem;
}
.selected-bubble {
    width: 80% !important;
    height: 80% !important;
}
#aside {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#performance {
    position: absolute;
    background-color: black;
    color: white;
    overflow: scroll;
    height: 300px;
    width: 200px;
    z-index: 1;
    right: 0;
    top: 0;
}
.red {
    background: radial-gradient(circle at 65% 15%, white 1px, red 3%, darkred 60%, red 100%);
}
.green {
    background: radial-gradient(circle at 65% 15%, white 1px, green 3%, darkgreen 60%, green 100%);
}
.yellow {
    background: radial-gradient(circle at 65% 15%, white 1px, yellow 3%, rgb(197, 184, 0) 60%, yellow 100%);
}
.blue {
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
}
.purple {
    background: radial-gradient(circle at 65% 15%, white 1px, purple 3%, rgb(77, 0, 150) 60%, purple 100%);
}
.grey {
    background: radial-gradient(circle at 65% 15%, white 1px, darkgrey 3%, grey 60%, darkgrey 100%);
}
.black {
    background: radial-gradient(circle at 65% 15%, white 1px, black 3%, black 60%, black 100%);
}
.pink {
    background: radial-gradient(circle at 65% 15%, white 1px, pink 3%, rgb(180, 68, 184) 60%, pink 100%);
}
.orange {
    background: radial-gradient(circle at 65% 15%, white 1px, orange 3%, darkorange 60%, orange 100%);
}
